@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg: var(--p-surface-100);
    --body-text-color: var(--p-surface-900);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-0);
    --border-color: var(--p-surface-200);
    --text-color: var(--p-surface-700);
    --overlay-background: #ffffff;
}

:root[class='p-dark'] {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-50);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-900);
    --border-color: var(--p-surface-700);
    --text-color: var(--p-surface-0);
    --overlay-background: var(--p-surface-900);
    --header-menubar-background: var(--p-surface-900);
}

html {
    font-size: 14px;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body-bg);
    font-weight: normal;
    color: var(--body-text-color);
    padding: 1rem;

    /* 根据屏幕宽度 padding 若屏幕宽度大于 80rem，则左右 padding 为 20rem */
    @media (min-width: 80rem) {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

.card {
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: var(--card-bg);
}

.header {
    margin-bottom: 1rem;
    border-radius: 0px;
}

.header-title {
    color: var(--p-primary-500)
}

.header-menubar {
    background-color: var(--card-bg) !important;
}

.setting-item {
    line-height: 2.5em;
}

.setting-item-right-select {
    line-height: 1.5em;
}

.hidden-theme-switcher {
    visibility: hidden;
}
